<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/static/output/dist/css/me.css">
</head>
<body>
    <div id="app" class="page-app-container"></div>
    <script src="/static/output/dist/js/vendor.js"></script>
    <script src="/static/output/dist/js/me.js"></script>
</body>
</html>
