<!DOCTYPE html>
<html>
<head>
    <title>test</title>
</head>
<body>
  <h1>test</h1>

  <p>picture-content</p>
  <form method="POST" action="/api/picture/addContent.json">
    <span>albumId</span>
    <input type="text" ="" name="albumId" />
    <br/>
    <span>name</span>
    <input type="text" ="" name="name" />
    <br/>
    <span>content</span>
    <input type="text" ="" name="content" />
    <br/>
    <input type="submit" name="submit">   
  </form>

  <hr/>
  <p>picture-album</p>
  <form method="POST" action="/api/picture/addAlbum.json">
    <input type="text" ="" name="name" />
    <br/>
    <input type="submit" name="submit">   
  </form>
</body>

</html>
