@import "./../assets/utils/unit.scss";

.rc-progress-show {
  display: block;
}

.rc-progress-hide {
  display: none;
}

.rc-progress-container {
  display: block;
  z-index: 1001;
  .progress {
    margin-bottom: 0;
  }

  .rc-progress-content {
    padding: my-unit(20)
  }
}

.rc-progress-backdrop {
  position:fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  opacity: 0.2;
}
