@import './../bootstrap/bootstrap.scss';
@import './../utils/unit.scss';
@import './../utils/router.scss';

$my-header-height: my-unit(56);
$my-mod-min-height: my-unit(640);
$my-page-width: my-unit(1200);
$my-main-width: my-unit(900);
$my-side-width: my-unit(280);

@mixin my-border {
  border: #eee solid my-unit(1);
}

.dashboard-header {
  width: 100%;
  // @include my-border;

  .navbar {
    width: $my-page-width;
    height: $my-header-height;
    margin: 0 auto;
    border-radius: 0;
  }
}

.dashboard-container {
  width: $my-page-width;
  min-height: $my-mod-min-height;
  margin: 0 auto;
  margin-top: my-unit(10);
  margin-bottom: my-unit(100);
  overflow: hidden;
}

.dashboard-main {
  float: right;
  width: my-unit( 900 );
  min-height: my-unit(800);
  padding: my-unit(20);
  @include my-border;
}

@mixin dashboard-side {
  width: $my-side-width;
  min-height: $my-mod-min-height;
  height: 100%;
  //@include my-border;
}

.dashboard-left {
  float: left;
  margin-right: my-unit(10);
  @include dashboard-side;

  .list-group-item {
    >a.active {
      background: #f0f0f0;
      color: #333;
    }
  }
}


.dashboard-user-info-base {
  width: my-unit(580);
  float: left;
}

.dashboard-user-info-avatar {
  width: my-unit(240);
  float: right;
}

.dashboard-blog-post,
.dashboard-blog-category {
  overflow: hidden;

  .dashboard-blog-post-form,
  .dashboard-blog-category-form {
    width: my-unit(480);
  
    .dashboard-blog-post-input 
    .dashboard-blog-category-input {
      margin-bottom: my-unit(10);
    }
  }

  .dashboard-blog-category-form {
    float: left;
  }
}

